$text-purple: #2f55d4;
$text-red: #e43f52;
$text-blue: #007bff;
$text-green: #2eca8b;
$text-bg-purple: #766df4;
$text-grey-light: #adb5bd;
$bg-icon-head: #2F55D41A;
$sfondo-bg: #F8F9FC;
$text-grey: #8492A6;